:root {
  font-weight: 700;
  --primary-color: #1745b9;
  --secondary-color: #f16806;
  --tertiary-color: #171717;
  --background-color: #e1dddd;
  scrollbar-color: var(--primary-color) var(--tertiary-color);
  font-size: clamp(18px, 3vw, 30px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, Input, Label  {
  font-size: .65rem;
  font-weight: normal;
  font-family: "Avenir", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
  background-color: var(--background-color);
}

header,
footer {
  display: flex;
  align-items: center;
}

a {
  cursor: pointer;
  color: ghostwhite;
}

section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
}