:root {
  font-weight: 400;
  --primary-color: #17a0b9;
  --secondary-color: #353230;
  --tertiary-color: #ff50da;
  --background-color: #101b41;
  scrollbar-color: var(--primary-color) var(--tertiary-color);
  font-size: clamp(18px, 3vw, 30px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  background-color: var(--background-color);
  background-size: 40px 40px; /* Set grid cell size */
  background-image:
          linear-gradient(to right, rgba(00, 0, 0.3), var(--primary-color) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(00, 0, 0.3), var(--primary-color) 1px, transparent 1px);
  background-repeat: repeat;
}

header,
footer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

main {
  overflow: hidden;
}

a {
  cursor: pointer;
  color: ghostwhite;
}

section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
}

@font-face {
  font-family: 'Megabomb';
  src: url("../fonts/Megabomb.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}