:root {
  font-weight: 400;
  --primary-color: #1745b9;
  --secondary-color: #f16806;
  --tertiary-color: #171717;
  --background-color: #e1dddd;
  scrollbar-color: var(--primary-color) var(--tertiary-color);
  font-size: clamp(18px, 3vw, 30px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
  background-color: var(--background-color);
}

header,
footer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

a {
  cursor: pointer;
  color: ghostwhite;
}

section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
}

@font-face {
  font-family: 'Megabomb';
  src: url("../fonts/Megabomb.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}